$font-icons: (
    category: "\f100",
    information: "\f101",
    mail_lock: "\f102",
    mail_open: "\f103",
    map: "\f104",
    menu: "\f105",
    passeword_unlock: "\f106",
    password_lock: "\f107",
    user_female: "\f108",
    user_male: "\f109",
);
